@using Mallady.Database;
@model List<Product>

@section style {
    <link rel = "stylesheet" href = "~/css/Bestelpagina.css" />
}

<body>
  <div class = 'Titel'>
    <h1>Bestelpagina</h1>
    
  </div>

  <div class = 'tekst1'>
      <p>Hier kunt u online ons gehele assortiment bestellen!</p>
      <p>Dit zijn al onze producten:</p>
  </div>

  <div class="producten">
        @foreach (Product p in Model)
        {
            <div class = "product" >
               <img src="@p.Img"/>
               <p>@p.Naam : €@p.Prijs</p>
                <p><a href="/Product/@p.id" class="lees"> Lees meer... </a></p>
            </div>
        }
        </div>
    

</body>


