@section style{
     <link id = "mystylesheet" rel = "stylesheet" href = "~/css/Betaalpagina.css" />
}

<div class = "box">
       <button class="btn btn-light" onclick="swapStyle('/css/Betaalpagina.css')">Dagmodus</button>
	   <button class="btn btn-dark" onclick="swapStyle('/css/DonkerBetaalpagina.css')">Nachtmodus</button>
</div>


<div class = "bananotekst">   
    <h1>Onze betaalmethode</h1>    
    <p>  Bij the Dutch Pizza Place maken we gebruik van Banano als betaalmethode. De producten hebben allemaal 1 vaste prijs van 50 banano's. 
         We zullen u nu stap voor stap uitleggen hoe u met banano kan betalen.</p>
         
</div>

<div class ="banano">    
       <img src="img/Banano.jpg" width = "500" height = "400" />
</div>

<div class ="uitleg"> 
    <h3>Wat is Banano nou eigenlijk?</h3>
    <p>Dat leggen we u graag even uit.Banano is een cryptocurrency van de vierde generatie. Met slechts een paar klikken kan u makkelijk en snel banano's naar elkaar overmaken. In dit proces zijn er geen verdere transactiekosten en gaan er geen banano's verloren. Daarom is het dan ook een 'feeless' cryptocurrency. 
     Op dit moment is het een bekende cryptocurrency in de memewereld van bijvoorbeeld reddit. Het wordt aangedreven door DAG-technologie. Banano is nu helaas nog niet heel erg bekend, maar ze bestaan dan ook nog niet zo lang. De cryptomunt is opgericht op 1 april 2018. Banano heeft in een korte tijd al behoorlijk wat volgers op haar sociale-media platformen verworven. Banano is dan ook actief op meerdere sociale-media platformen, zoals Reddit, Twitter, Discord, Facebook en nog veel meer.
     Op Discord had Banano in januari 2021 bijna 30.000 leden en op Twitter meer dan 22.000 leden. Banano is dus een cryptocurrency om de komende jaren nog goed in de gaten te houden!</p> 
     
    <p>Wilt u meer weten? Klik dan <a href="https://banano.cc/">hier</a> </p>

</div>

<div class="stapjes">
<div class = "stappenplan">    
    <h3>Betaalstappenplan:</h3>    
    <p>Er zijn een paar manieren om met Banano te kunnen betalen.
    
    <p> Als u nog niet eerder gebruik heeft gemaakt van Banano, dan moet u eerst <a href="https://vault.banano.cc/)">hier</a> een wallet aanmaken.</p>
   
    <p> Via de QR-code die bij uw Account Details staat kunt u Banano’s gestort krijgen van anderen en zo uw vermogen aan Banano’s opbouwen.</p>

    <p> Wanneer u genoeg Banano’s op uw account hebt staan kunt u door naar de volgende stap.</p>
</div>

<div class = "lijst">    
    <p>Er zijn twee manieren om de Banano’s naar de wallet van the Dutch Pizza Place over te maken:</p>    
    <ul>        
        <li> De eerste manier is om de onderstaande QR-code te scannen. </li> 
        <li> Daarna kunt u op uw device in ofwel de app ofwel de website <a href="https://vault.banano.cc/">(klik hier )</a> het aantal benodigde Banano’s voor een kaartje overmaken (50 Banano’s).</li>   
    </ul>

    <ul>        
      <li> Als u niet de QR code kan scannen, kunt u ook via de app of via de website <a href="https://vault.banano.cc/">(klik hier )</a>de Banano’s overboeken.</li>
      <li> U klikt dan op ‘Send’ en vult dan bij ‘To Account’ het volgende BAN-nummer in: ban_3xwr3migeekat7sqnanu7t11rqto97oeom9w4hpst15jubbsnzg5ajowce4c.</li>    
      <li> Daarna kunt u het aantal benodigde Banano’s invoeren en op ‘Send Banano’ drukken </li>        
      <li> De transactie is klaar!</li>    
  </ul>
</div>
</div>



<div class ="ban">
    <p>Het BAN-nummer van onze banano-wallet: ban_3xwr3migeekat7sqnanu7t11rqto97oeom9w4hpst15jubbsnzg5ajowce4c </p>
</div>

<script type="text/javascript">

        function swapStyle(sheet){
            document.getElementById('mystylesheet').href = sheet
        }

</script>