@using Mallady.Database;
@model Person

@{
    ViewData["Title"] = "Contact";
}

@section style{
     <link rel = "stylesheet" href = "~/css/contact.css" />
}

<div class="container">
    <div class="row">
        <h1>contact us</h1>
    </div>
    <div class="row">
        <h4 style="text-align:center">Stuur hier je vraag in!</h4>
    </div>

    <form method="post" class="row input-container">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input placeholder="Voornaam" type="text" name="FirstName" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Achternaam" type="text" name="LastName" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
                <input placeholder="Email" type="text" name="Email" />
            </div>
        </div>


        <div class="col-xs-12">
            <div class="styled-input wide">
                <input placeholder="Bericht" type="text" name="Description" />
            </div>
        </div>

        <div class="col-xs-12">
            <input class="btn-lrg submit-btn" type="submit" value="verstuur" />
        </div>
    </form>
</div>

@if (Model != null){
    <a href="/success"></a>
    <p>Dank voor uw bericht@Model.Voornaam @Model.Achternaam </p>
}