<!DOCTYPE html>
 

@{
    ViewData["Title"] = "Home Page";
}


<body> 
   <div class = "Titel">
       <h1>The Dutch Pizza Place</h1>
   </div>

   <div class = "Homepage_img">
       <img src="img/Homepage_img.PNG" width = "450" height = "500"> 
   </div>

   <div class = "bestelknop">
        <a ><p>Bestellen</p></a>
   </div>   
   
</body>


