<!DOCTYPE html>

@{
    ViewData["Title"] = "Home Page";
}


<body> 
   <div class = "Titel">
       <h1>The Dutch Pizza Place</h1>
   </div>

   <div class = "bestelknop">
        <a href="/Bestelpagina"><p>Bestellen</p></a>
   </div>   
   
</body>


