@section style{
     <link id = "mystylesheet"  rel = "stylesheet" href = "~/css/Succes.css" />
}

<div class = "knopjes">
    <div class = "box">
       <a onclick="swapStyle('/css/Succes.css')">Dagmodus</a>
    </div>

    <div class = "box">
	   <a onclick="swapStyle('/css/DonkerSucces.css')">Nachtmodus</a>
    </div>
</div>


<div class = "tekst">
    <h1> Uw bent succesvol ingelogd! </h1>

    <p> Welkom @ViewData["user"] </p>
</div>

<script type="text/javascript">

        function swapStyle(sheet){
            document.getElementById('mystylesheet').href = sheet
        }

</script>
