@using Mallady.Database;

@section style {
    <link rel = "stylesheet" href = "~/css/Login.css" />
}

<div class = "Tekst">
    <h1>Login</h1>
    <p>Hier kunt u inloggen in uw My Dutch Pizza Place-account of een account aanmaken!</p>
</div>

<div class="container">
    <form method="post" class="row input-container">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input placeholder="Voornaam" type="text" name="Voornaam" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Achternaam" type="text" name="Achternaam" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
                <input placeholder="Email" type="text" name="Email" />
            </div>
        </div>

         <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Gebruikersnaam" type="text" name="Gebruikersnaam" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Wachtwoord" type="text" name="Wachtwoord" />
            </div>
        </div>

        <div class="col-xs-12">
            <input class="btn-lrg submit-btn" type="submit" value="verstuur" />
        </div>
    </form>
</div>