@{
    ViewData["Title"] = "Inloggen";
}

@section style {
    <link rel = "stylesheet" href = "~/css/Login.css" />
}

<div class = "Tekst"> 

    <h1>Log hier in op uw Dutch Pizza Place account! </h1>

    <p>Heeft u nog geen account? Dan kunt u <a href="/Contact">hier</a> klikken. Dan komt u bij ons contactformulier, waar u ook een account op kan aanmaken.</p>

</div>

<form>
     <div class="col-xs-12">
            <div class="styled-input wide">
                <input placeholder="Gebruikersnaam" type="text" name="Gebruikersnaam" />
            </div>
        </div>

         <div class="col-xs-12">
            <div class="styled-input wide">
                <input placeholder="Wachtwoord" type="text" name="Wachtwoord" />
            </div>
        </div>

        <div class="col-xs-12">
            <input class="btn-lrg submit-btn" type="submit" value="verstuur" />
        </div>
</form>

