@using Mallady.Database;

@section style {
    <link rel = "stylesheet" href = "~/css/Login.css" />
}

<div class = "Tekst">
    <h1>Login</h1>
    <p>Hier kunt u inloggen in uw My Dutch Pizza Place-account of een account aanmaken!</p>
</div>
