@{
    ViewData["Title"] = "Menu";
}

@section style{
     <link rel = "stylesheet" href = "~/css/Menu.css" />
}

<div class = "Menu_tekst">
   <h1>Menukaart</h1>
   <p>Op deze pagina kunt u onze menukaart bekijken!</p>
</div> 

<div class = "Menukaart">
       <img src="img/Menukaart.jpg" width = "500" height = "500"> 
</div>
