@using Mallady.Database;

@{
    ViewData["Title"] = "Menu";
}

@section style{
     <link id = "mystylesheet"  rel = "stylesheet" href = "~/css/Menu.css" />
}

<div class = "box">
       <button class="btn btn-light" onclick="swapStyle('/css/Menu.css')">Dagmodus</button>
	   <button class="btn btn-dark" onclick="swapStyle('/css/DonkerMenu.css')">Nachtmodus</button>
</div>


<div class = "Menu_tekst">
   <h1>Menukaart</h1>
   <p>Op deze pagina kunt u onze menukaart bekijken!</p>
</div> 

<div class = "Menukaart">
       <img src="img/Menukaart.jpg" width = "700" height = "600"> 
</div>

<script type="text/javascript">

        function swapStyle(sheet){
            document.getElementById('mystylesheet').href = sheet
        }

</script>