@section style {
    <link id = "mystylesheet" rel = "stylesheet" href = "~/css/notfound.css" />
}

<div class = "knopjes">
    <div class = "box">
       <a onclick="swapStyle('/css/notfound.css')">Dagmodus</a>
    </div>

    <div class = "box">
	   <a onclick="swapStyle('/css/Donkernotfound.css')">Nachtmodus</a>
    </div>
</div>

<div class = "Tekst">

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><h1>404 - Page Not Found</h1></a>

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Klik hier om naar de homepage terug te gaan.</p></a>
</div>

<div class = "img">

        <img src="/img/404.jpg" width = "450" height = "350" />
    
</div>