@section style {
    <link id = "mystylesheet" rel = "stylesheet" href = "~/css/notfound.css" />
}

<div class = "box">
       <button class="btn btn-light" onclick="swapStyle('/css/notfound.css')">Dagmodus</button>
	   <button class="btn btn-dark" onclick="swapStyle('/css/Donkernotfound.css')">Nachtmodus</button>
</div>


<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><h1>404 - Page Not Found</h1></a>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p>Klik hier om naar de homepage terug te gaan.</p></a>



<div class = "img">

        <img src="img/404.jpg" width = "450" height = "350" />
    
</div>

<script type="text/javascript">

        function swapStyle(sheet){
            document.getElementById('mystylesheet').href = sheet
        }

</script>