@using Mallady.Database;
@model Product

@{
    ViewData["Title"] = "Product";
}

@section style {
    <link id = "mystylesheet"  rel = "stylesheet" href = "~/css/Product.css" />
}

<div class = "box">
       <button class="btn btn-light" onclick="swapStyle('/css/Product.css')">Dagmodus</button>
	   <button class="btn btn-dark" onclick="swapStyle('/css/DonkerProduct.css')">Nachtmodus</button>
</div>

<div class ="titeltekst">
    <H1>@Model.Naam</H1>
</div>

<div class = "center">
    <img src="@Model.Img"/>
</div>

<div class = "info">
    <p>De ingrediënten zijn: @Model.Ingredienten</p>
    <br />
    <p>Prijs: €@Model.Prijs</p>
    <br />
    <p>Wees er snel bij! Onze huidige voorraad is namelijk nog maar: @Model.Voorraad</p>
</div>



<div class = "knop">
        <a href="/Betaalpagina"><p>Betalen</p></a>
</div>   

<script type="text/javascript">

        function swapStyle(sheet){
            document.getElementById('mystylesheet').href = sheet
        }

</script>
