@using Mallady.Database;
@model Product

@{
    ViewData["Title"] = "Product";
}

@section style {
    <link rel = "stylesheet" href = "~/css/Product.css" />
}

<div class ="titeltekst">
    <H1>@Model.Naam</H1>
</div>

<div id = "center">
    <img src="@Model.Img"/>
</div>

<div class = "info">
    <p>De ingrediënten zijn: @Model.Ingredienten</p>
    <br />
    <p>Prijs: €@Model.Prijs</p>
    <br />
    <p>Wees er snel bij! Onze huidige voorraad is namelijk nog maar: @Model.Voorraad</p>
</div>



<div class = "bestelknop">
        <a href="/Betaalpagina"><p>Betalen</p></a>
</div>   