@using Mallady.Database;

@section style {
    <link rel = "stylesheet" href = "~/css/Login.css" />
}

<div class = "Tekst">
    <h1>Reserveren</h1>
    <p>Hier kunt u een reservering maken voor in één van onze restaurants!</p>
</div>

<div class="container">
    <form method="post" class="row input-container">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input placeholder="Voornaam" type="text" name="Voornaam" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Achternaam" type="text" name="Achternaam" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
                <input placeholder="Restaurant" type="text" name="Restaurant" />
            </div>
        </div>

         <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Personen" type="text" name="Personen" />
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder="Datum" type="text" name="Datum" />
            </div>
        </div>

         <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input placeholder= "Tijd" type="text" name="Tijd" />
            </div>
        </div>

        <div class="col-xs-12">
            <input class="btn-lrg submit-btn" type="submit" value="verstuur" />
        </div>
    </form>
</div>