@section style{
     <link rel = "stylesheet" href = "~/css/Succes.css" />
}

<div class = "tekst">
    <h1> Uw reservering is succesvol afgerond! </h1>

    <p> We zien u snel in één van onze restaurants! </p>
</div>