@section style{
     <link id = "mystylesheet" rel = "stylesheet" href = "~/css/Succes.css" />
}

<div class = "knopjes">
    <div class = "box">
       <a onclick="swapStyle('/css/Succes.css')">Dagmodus</a>
    </div>

    <div class = "box">
	   <a onclick="swapStyle('/css/DonkerSucces.css')">Nachtmodus</a>
    </div>
</div>

<div class = "tekst">
    <h1> Uw reservering is succesvol afgerond! </h1>

    <p> We zien u snel in één van onze restaurants! </p>
</div>
