@section style {
    <link rel = "stylesheet" href = "~/css/Vestigingen.css" />
}

<div class = "tekst22"> 
    <h1>Vestigingen</h1>
    <p>Kom gezellig langs in één van onze vestigingen!</p>
</div>

<div class = "restauranttekst">

</div>

<div class = "reserveerknop">
        <a href="/Reserveren"><p>Reserveren</p></a>
   </div>   
   