@using Mallady.Database;
@model List<Restaurant>



@section style {
    <link id = "mystylesheet" rel = "stylesheet" href = "~/css/Vestigingen.css" />
}

<div class = "knopjes">
    <div class = "box">
       <a onclick="swapStyle('/css/Vestigingen.css')">Dagmodus</a>
    </div>

    <div class = "box">
	   <a onclick="swapStyle('/css/DonkerVestigingen.css')">Nachtmodus</a>
    </div>
</div>

<div class = "tekst22"> 
    <h1>Vestigingen</h1>
    <p>Kom gezellig langs in één van onze vestigingen!</p>
</div>

<div class = "container">
        @foreach (Restaurant r in Model)
        {
            <div class = "restauranttekst" >
               <h2>@r.Locatie</h2>
                <p>@r.Adres</p>
            </div>
        }
</div>

<div class = "reserveerknop">
        <a href="/Reserveren"><p>Reserveren</p></a>
</div>