@section style {
    <link rel = "stylesheet" href = "~/css/Vestigingen.css" />
}

<div class = "tekst22"> 
    <h1>Vestigingen</h1>
    <p>Kom gezellig langs in één van onze vestigingen!</p>
</div>


<div class = "container">
    <div class = "restauranttekst">
       <h2>Amersfoort</h2>
       <p>Pizzaweg 151 2298 GW Amersfoort</p>
    </div>

    <div class = "restauranttekst">
     <h2>Den Haag</h2>
     <p>Deegplein 221 2378 XC Den Haag</p>
    </div>

    <div class = "restauranttekst">
     <h2>Amsterdam</h2> 
     <p>Korststraat 21 3601 WS Amsterdam</p>
    </div>
</div>

<div class = "reserveerknop">
        <a href="/Reserveren"><p>Reserveren</p></a>
</div>   
> 