<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/css/site.css" />
  </head>
  
  <header>
    
    <img src="img/logo Mallady.png" width = "180" height = "160"> 

        <nav>
           <ul class = "nav-area">
              <a>Home</a>
              <a>Menukaart</a>
              <a>Vestigingen</a>
              <a>Contact</a>
           </ul>
        </nav> 

  </header>

  <body>
   @RenderBody()
   
  </body>

  <footer>
      
  </footer>

</html>
