<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/css/site.css" />
    <link rel='shortcut icon' type='img/png' href='img/logo Mallady.png'>
    @RenderSection("style", false)
  </head>
  
  <header>
    
    <a href="/"><img src="img/logo Mallady.png" width = "180" height = "160"> </a>

     <div class = "navigatie"> 
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a> </li>
                    <li><a href="/Menu">Menukaart</a> </li>
                    <li> <a href="/Bestelpagina">Bestelpagina</a> </li>
                    <li> <a href="/Vestigingen">Vestigingen</a> </li>
                    <li> <a href="/Contact">Contact</a> </li>
                    <li> <a href="/Reserveren">Reserveren</a> </li>
                </ul>
            </div>
        </nav>
     </div>

  </header>

  <body>
   @RenderBody()
   
  </body>

  <footer>

    <div class="ftekst">
      <p> Vind ons op social media! </p>
    </div>
    
    <div class ="container">
        <ul>

             <li>
               <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
               <img src='img/instagram.jpg' width = "100" height = "100" /></a> 
             </li>

            <li>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
              <img src= 'img/facebook.png' width = "100" height = "100" /></a> 
            </li>

            <li> 
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
              <img src = 'img/Snapchat.png' width = "100" height = "100" /></a> 
           </li>
   
        </ul>
     </div> 
    
  </footer>

</html>
