<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/wwwroot/css/site.css" /> 
  </head>
  
  <header>
     <p>Dit is de header</p>
  </header>

  <body>
   @RenderBody()
   <p>Dit is de body</p>
  </body>

  <footer>
      <p>Dit is de footer</p>
  </footer>

</html>
