<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/css/site.css" />
    @RenderSection("style", false)
  </head>
  
  <header>
    
    <a href="/"><img src="img/logo Mallady.png" width = "180" height = "160"> </a>

        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a> </li>
                    <li><a href="/Menu">Menukaart</a> </li>
                    <li> <a href="/Bestelpagina">Bestelpagina</a> </li>
                    <li> <a href="/Vestigingen">Vestigingen</a> </li>
                    <li> <a href="/Contact">Contact</a> </li>
                    <li> <a href="/Reserveren">Reserveren</a> </li>
                </ul>
            </div>
        </nav>

  </header>

  <body>
   @RenderBody()
   
  </body>

  <footer>
        <pre> 
            Werken bij ons    Adverteren    Voorwaarden    Privacy statement      Cookies
        </pre>
      
  </footer>

</html>
