<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/wwwroot/css/site.css" /> 
  </head>

  
  <header>
     <div id = "menu">
         
     </div>
  </header>




  <body>
   @RenderBody()
  </body>

</html>
