<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/wwwroot/css/site.css" /> 
  </head>
  
  <header>
    <div class = "nav">
       <img src="img/logo Mallady.png" width = "180" height = "160"> 
        <nav>
         <ul class = "nav-area">
             <li><a href = "#">Home</a></li>
             <li><a href = "#">Menukaart</a></li>
             <li><a href = "#">Vestigingen</a></li>
             <li><a href = "#">Contact</a></li>
          </ul>
        </nav>
       <a href = "#" class = "btn-area">Login</a>
     </div> 
     
  </header>

  <body>
   @RenderBody()
   
  </body>

  <footer>
      
  </footer>

</html>
