<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel = "stylesheet" href = "~/css/site.css" />
    <link rel='shortcut icon' type='img/png' href='img/logo Mallady.png'>
    @RenderSection("style", false)
  </head>
  
  <header>
    
    <a href="/"><img src="img/logo Mallady.png" width = "180" height = "160"> </a>

        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a> </li>
                    <li><a href="/Menu">Menukaart</a> </li>
                    <li> <a href="/Bestelpagina">Bestelpagina</a> </li>
                    <li> <a href="/Vestigingen">Vestigingen</a> </li>
                    <li> <a href="/Contact">Contact</a> </li>
                    <li> <a href="/Reserveren">Reserveren</a> </li>
                </ul>
            </div>
        </nav>

  </header>

  <body>
   @RenderBody()
   
  </body>

  <footer>

    <div class="ftekst">
    <h2>
    Vind ons op social media!
    <h2>
    <ul>
    <li>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png' /></a> 
    </li> 
    <li>
     <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/240px-Facebook_logo_%28square%29.png" /></a> 
    </li>
     <li>
     <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
     <img src="https://uwbedpro.nl/wp-content/uploads/2021/03/pinterest-logo-png-6.png" /></a> 
    </li>
 
   </ul>
   </div>
      
  </footer>

</html>
