.box {
    padding: 10px;
    margin-top: 25px;
    background: #FFC67F;
    margin-left: 20px;
    width: 6%;
}

    .box a {
        color: #183052;
        font-size: 20px;
    }

.knopjes {
    display: flex;
    justify-content: space-evenly;
}

.Titel {
    text-align: center;
    color: #183052;
    font-size: 35px;
}

.tekst1 {
    text-align: center;
    color: #183052;
    font-size: 25px;
}

.producten p {
    color: #183052;
    font-size: 25px;
}

.producten{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

    .product{
        width: 400px;
        margin-left: 60px;
    }

    .lees {
        text-decoration: none;
        list-style: none;
        color: #183052;
    }

