.Menu_tekst h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
 }

.Menu_tekst p {
     text-align: center;
     color: #FFFFFF;
     font-size: 25px;
 }

footer{
    position: fixed;
}

.Menukaart {
    margin-bottom: 0;
    text-align: center;
}

body {
    color: black;
}