.box {
    padding: 10px;
    margin-top: 25px;
    background: gray;
    margin-left: 20px;
    width: 6%;
}

    .box a {
        color: white;
        font-size: 20px;
    }

.knopjes {
    display: flex;
    justify-content: space-evenly;
}


.titeltekst {
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
}

.center img {
    height: 300px;
    width: 400px;
}

.center {
    text-align: center;
}

.info {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    line-height: 0;
}

.knop {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 0;
}

    .knop p {
        margin-top: 15px;
    }

    .knop a:link, a:visited {
        background-color: white;
        color: black;
        padding: 14px 25px;
        text-decoration: none;
        display: inline-block;
        width: 250px;
        height: 60px;
        font-size: 25px;
        margin-top: 5px;
    }


    .knop a:hover, a:active {
        background-color: #F0FBFF;
    }


body {
    background: black;
}

