.tekst {
    text-align: center;
    color: #183052;
}

    .tekst h1 {
        font-size: 35px;
    }

    .tekst p {
        font-size: 25px;
    }

body {
    background: black;
}

footer {
    position: fixed;
}
