.box {
    padding: 10px;
    margin-top: 25px;
    background: gray;
    margin-left: 20px;
    width: 100px;
}

    .box a {
        color: white;
        font-size: 20px;
    }

.knopjes {
    display: flex;
    justify-content: space-evenly;
}


.bananotekst {
    width: 80%;
    margin: auto;
    color: #183052;
}

.bananotekst p {
    font-size: 25px;
    color: white;
}

.bananotekst h1{
    font-size: 35px;
    text-align: center;
    color: white;
}

.banano {
    float: left;
    padding: 0px 10px;
}

.ban {
    font-size: 25px;
    color: white;
}

.uitleg {
    font-size: 25px;
    width: 80%;
    margin: auto;
    color: white;
}

.uitleg p {
      color: white;
 }

.uitleg a {
    font-size: 25px;
    color: white;
 }

.stappenplan a {
    font-size: 25px;
    color: white;
}

.stappenplan h3 {
    font-size: 28px;
    color: white;
}

.stappenplan p {
    font-size: 25px;
    color: white;
}

.lijst ul {
    font-size: 25px;
    color: white;
}

.linkje {
    text-decoration: none;
    list-style: none;
    color: white;
}

.lijst p {
    font-size: 25px;
    color: white;
}

body {
    background: black;
}
