.box {
    
    padding: 10px;
    margin-top: 25px;
    background: #FFC67F;
    margin-left: 20px;
    width: 6%;
}

.box a {
     color: #183052;
     font-size: 20px;
 }

.knopjes{
    display: flex;
    justify-content: space-evenly;
}

.Menu_tekst {
    text-align: center;
    color: #183052;
    
}

.Menu_tekst h1{
    font-size: 35px;
}

.Menu_tekst p{
    font-size: 25px;
}

.Menukaart {
    margin-bottom: 0;
    text-align: center;
}