.Menu_tekst {
    text-align: center;
    color: #183052;
    
}

.Menu_tekst h1{
    font-size: 35px;
}

.Menu_tekst p{
    font-size: 25px;
}

.Menukaart {
    margin-bottom: 0;
    text-align: center;
}