.box {
    padding: 10px;
    margin-top: 25px;
    background: #FFC67F;
    margin-left: 20px;
    width: 100px;
}

    .box a {
        color: #183052;
        font-size: 20px;
    }

.knopjes {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: #183052;
}

.Tekst a{
    text-decoration: none;
}

.Tekst p {
    font-size: 25px;
    text-align: center;
    color: #183052;
    margin-bottom: 90px;
}

.img {
    margin-bottom: 0;
    text-align: center;
}


footer{
    position: fixed;
}