.tekst22 {
    text-align: center;
    color: #183052;
}

.tekst22 h1{
    font-size: 35px;
}

.tekst22 p{
    font-size: 25px;
}

.restauranttekst {
    width: 220px;
    height: 160px;
    background: #FFC67F;
    border-radius: 30px;
    margin-bottom: 10px;
    
}

.restauranttekst h2 {
    text-align: center;
    color: #183052;
    font-size: 30px;
 }

.restauranttekst p {
    text-align: center;
    color: #183052;
    font-size: 25px;
}

.container{
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
}

.reserveerknop {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.reserveerknop p {
        margin-left: 64px;
        margin-top: 15px;
        
 }

.reserveerknop a:link, a:visited {
      background-color: #FFC67F;
      color: #183052;
      padding: 14px 25px;
      text-decoration: none;
      display: inline-block;
      width: 250px;
      height: 60px;
      font-size: 25px;
      margin-top: 5px;
 }

.reserveerknop a:hover, a:active {
      background-color: white;
 }


footer{
    position: fixed;
}